<!DOCTYPE html>
<html>
  <head>
    <title><%= @page&.title || "Page" %> — <%= @site&.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <% if @page&.css_content.present? %>
      <style><%= raw @page.css_content %></style>
    <% end %>
  </head>
  <body>
    <% if @page&.html_content.present? %>
      <%= raw @page.html_content %>
    <% end %>
  </body>
</html>
